<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Client_chat.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="passwd" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Psswd" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value />
            </setting>
        </Client_chat.Properties.Settings>
    </userSettings>
</configuration>